@import "variables.scss";

.button {
  display: block;
  width: 100%;
  margin: 0.5em 0em;
  padding: 1.2em 1em;
  border: none;
  border-color: unset;
  box-shadow: none;
  border-radius: $border-radius;
  font-family: $font-family-inter;
  font-weight: $inter-medium;
  font-size: $font-size-btn;

  &:hover {
    color: black;
  }

  &.button-alt {
    background-color: $grey;
    color: black;
    &:active {
      background-color: $colored;
      color: black;
    }
  }
  &.button-default {
    background-color: $colored;
    color: black;
    &:active {
      background-color: $grey;
      color: black;
    }
  }
  &:disabled,
  &[disabled] {
    background-color: $grey;
    color: black;
    opacity: 1;
  }
}
