@import "variables.scss";

.table-container {
    overflow-x: auto;
    width: 100%;

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;

        th,
        td {
            text-align: left;
            padding: 1vh 2vw;
            font-size: $font-size-desc;
        }

        tbody tr:nth-child(odd) {
            background-color: #f2f2f2;
        }
    }
}
