@import "variables.scss";

.input-container {
    position: relative;
    width: 100%;

    $font-size-btn-label: clamp(7px, 2.2vw, 11px);

    input {
        display: block;
        border: none;
        border-radius: $border-radius;
        width: 100%;
        margin: 3vh 0 0 0;
        text-align: left;
        font-family: $font-family;
        background-color: $grey;
        color: black;
        font-size: $font-size-btn;

        &.with-label {
            $top-padding: calc(2vh + #{$font-size-btn-label} + 2px);
            padding: $top-padding $padding-input-sides 1.5vh $padding-input-sides;
        }

        &.without-label {
            padding: 2vh $padding-input-sides;
        }

        &::placeholder {
            color: rgba($color: #000000, $alpha: 0.3);
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 1px 1px darkgrey;
        }

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }
    }

    .input-label {
        position: absolute;
        top: 7.5px;
        left: $padding-input-sides;
        font-size: $font-size-btn-label;
        color: #aaaaaa;
    }

    &.input-disabled input {
        color: #aaaaaa;
    }

    &.password-bar input {
        margin-bottom: 0px;
    }

    .input-clear-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: $padding-input-sides;
        width: 18px;
    }
}
