@import 'variables.scss';

* {
  box-sizing: border-box;
}

html,
body,
body > div {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding-bottom: 7vh;
}

body * {
  -webkit-overflow-scrolling: touch;
  font-family: $font-family, Helvetica, sans-serif;
}

p,
label,
span {
  margin: 0 0 15px 0;
  font-size: $font-size-desc;
}
h1 {
  font-size: $font-size-h1;
}
h2 {
  font-size: $font-size-h2;
}
a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  justify-content: center;
  padding: 2vh 6vw 2vh 6vw;
  background-color: $white;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
