@import "variables.scss";

ul.header-nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $grey;

    li {
        float: left;

        &.right {
            float: right;
        }

        a {
            display: block;
            color: $black;
            text-decoration: none;
            text-align: center;
            padding: 2vh clamp(7px, 3vw, 14px);
            font-size: $font-size-btn;
        }

        a:hover:not(.active) {
            background-color: $grey;
        }

        a.active {
            background-color: $colored;
        }
    }
}
